{% extends 'base.html.twig' %}

{% block title %}Réaliser un billetage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header bg-soft-custom">
                    Réaliser le billetage
                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    <table class="table table-striped bordered table-sm">
                        <thead class="thead-">
                        <tr>
                            <th style="width: 33%">Nominal</th>
                            <th style="width: 33%">Montant disponible</th>
                            <th style="width: 33%">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3">Billet</td>
                        </tr>
                        <tr>
                            <td>
                                <output>10 000</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.b10000) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly id="r{{ form.b10000.vars.id }}" name="value10000"
                                       class="form-control total text-right form-control-sm">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>5 000</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.b5000) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly id="r{{ form.b5000.vars.id }}" name="value5000"
                                       class="form-control total text-right form-control-sm">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>2 000</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.b2000) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly id="r{{ form.b2000.vars.id }}" name="value2000"
                                       class="form-control total text-right form-control-sm">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>1 000</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.b1000) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.b1000.vars.id }}"
                                       name="value1000">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>500</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.b500) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.b500.vars.id }}"
                                       name="value500_1">
                            </td>
                        </tr>
                        <tr style="font-weight: 600">
                            <td colspan="2">Sous Total</td>
                            <td class="output text-right">
                                <output id="resualtTotal1"></output>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">Monnaie</td>
                        </tr>
                        <tr>
                            <td>500</td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.m500) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.m500.vars.id }}"
                                       name="value500_2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>250</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.m250) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.m250.vars.id }}"
                                       name="value200">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>200</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.m200) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.m200.vars.id }}"
                                       name="value250">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>100</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.m100) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.m100.vars.id }}"
                                       name="value100">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>50</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.m50) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.m50.vars.id }}"
                                       name="value50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>10</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.m10) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.m10.vars.id }}"
                                       name="value10">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <output>5</output>
                            </td>
                            <td>
                                <div class="custom-number">
                                    {{ form_widget(form.m5) }}
                                    <div class="custom-number-controls">
                                        <div class="custom-number-btn custom-number-up">+</div>
                                        <div class="custom-number-btn custom-number-down">-</div>
                                    </div>
                                </div>
                            </td>
                            <td class="output">
                                <input type="text" readonly class="form-control total text-right form-control-sm"
                                       id="r{{ form.m5.vars.id }}"
                                       name="value5">
                            </td>
                        </tr>
{#                        <tr>#}
{#                            <td>#}
{#                                <output>1</output>#}
{#                            </td>#}
{#                            <td>#}
{#                                <div class="custom-number">#}
{#                                    {{ form_widget(form.m1) }}#}
{#                                    <div class="custom-number-controls">#}
{#                                        <div class="custom-number-btn custom-number-up">+</div>#}
{#                                        <div class="custom-number-btn custom-number-down">-</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td class="output">#}
{#                                <input type="text" readonly class="form-control total text-right form-control-sm"#}
{#                                       id="r{{ form.m1.vars.id }}"#}
{#                                       name="value1">#}
{#                            </td>#}
{#                        </tr>#}
                        <tr style="font-weight: 600">
                            <td colspan="2">Sous Total</td>
                            <td class="output text-right">
                                <output id="resualtTotal2"></output>
                            </td>
                        </tr>
                        <tr style="font-weight: 900">
                            <td colspan="2"> Total</td>
                            <td class="output text-right">
                                <output id="resualtTotal3"></output>
                            </td>
                        </tr>
                        <tr style="font-weight: 900">
                            <td colspan="2">Solde théorique</td>
                            <td class="output text-danger text-right">
                                {{ form_widget(form.balance, {'attr': {'class': 'form-control form-control-sm text-right', 'readonly': 'readonly'}}) }}
                            </td>
                        </tr>
                        <tr style="font-weight: 900">
                            <td colspan="2">Ecart</td>
                            <td class="output">
                                {{ form_widget(form.ecart, {'attr': {'class': 'form-control form-control-sm text-right', 'readonly': 'readyonly'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">Chèques</td>
                        </tr>
                        <tr>
                            <td>
                                <output>Montant chèque restant physique</output>
                            </td>
                            <td></td>
                            <td class="output">
                                {{ form_widget(form.checkBalance, {'attr': {'class': 'form-control form-control-sm text-right', 'readyonly': 'readyonly'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Montant chèque restant théorique</strong></td>
                            <td class="output">
                                {{ form_widget(form.checkAmount, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Ecart chèque</td>
                            <td class="output">
                                {{ form_widget(form.checkEcart, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

{#                    <div class="modal modal-alert fade" id="exampleModalAlertWarning" data-backdrop="static"#}
{#                         tabindex="-1"#}
{#                         role="dialog" aria-labelledby="exampleModalAlertWarningLabel" aria-hidden="true">#}
{#                        <!-- .modal-dialog -->#}
{#                        <div class="modal-dialog" role="document">#}
{#                            <!-- .modal-content -->#}
{#                            <div class="modal-content">#}
{#                                <!-- .modal-header -->#}
{#                                <div class="modal-header bg-danger">#}
{#                                    <h6 id="exampleModalAlertWarningLabel" class="modal-title">#}
{#                                        <i class="fa fa-bullhorn text-warning mr-1"></i> Cloture de la journée </h6>#}
{#                                </div><!-- /.modal-header -->#}
{#                                <!-- .modal-body -->#}
{#                                <div class="modal-body">#}
{#                                    <div class="form-group mt-3">#}
{#                                        <label for="{{ form.endAt.vars.id }}">Date de clôture</label>#}
{#                                        {{ form_widget(form.endAt, {'attr': {'class': 'form-control'}}) }}#}
{#                                    </div>#}
{#                                </div><!-- /.modal-body -->#}
{#                                <!-- .modal-footer -->#}
{#                                <div class="modal-footer">#}
{#                                    <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>#}
{#                                    <button type="submit" class="btn btn-danger">Clôturer</button>#}
{#                                </div><!-- /.modal-footer -->#}
{#                            </div><!-- /.modal-content -->#}
{#                        </div><!-- /.modal-dialog -->#}
{#                    </div>#}

                </div>
                <div class="card-footer">
                    <div class="card-footer-content">
                        <button type="button" class="btn btn-primary float-right ml-2" data-toggle="modal"
                                data-target="#exampleModalAlertWarning">Enregistrer
                        </button>
                        <a href="{{ path('app_welcome') }}" class="btn btn-success float-right"><i
                                    class="oi oi-home"></i>Accueil</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        /**
         /**
         *  billetage billet
         * */
        $('.billet').on('input', function () {
            var MontantBillets = 0;

            var billets = document.getElementsByClassName('billet');
            $.each(billets, function () {
                var multiplicateur = $(this).attr('data-id');
                Montant = multiplicateur * Number($(this).val());
                MontantBillets = Number(MontantBillets) + Montant;
            });
            $('#resualtTotal1').empty();
            $('#resualtTotal1').val(new Intl.NumberFormat().format(MontantBillets));
        });
        /**
         * billetage monnaie
         */
        $('.monnaie').on('input', function () {
            var MontantMonnaie = 0;
            var Monnaie = document.getElementsByClassName('monnaie');
            $.each(Monnaie, function () {
                var multiplicateur = $(this).attr('data-id');
                Montant2 = multiplicateur * Number($(this).val());
                MontantMonnaie = Number(MontantMonnaie) + Montant2;
            });
            $('#resualtTotal2').empty();
            $('#resualtTotal2').val(new Intl.NumberFormat().format(MontantMonnaie));
        });
        /**
         * */
        $('.montant').on('input', function () {
            var MontantTotal = 0;
            var Monnaie = document.getElementsByClassName('montant');
            var id = $(this).attr('id');
            var values = $(this).val();
            var multiplicateur = $(this).attr('data-id');
            var total = values * multiplicateur;
            var orbis = $('#billetage_balance').val();
            var ecart = $('#ecart').val();
            console.log(id);
            $('#r' + id).val(new Intl.NumberFormat().format(total));
            $.each(Monnaie, function () {
                var multiplicateur = $(this).attr('data-id');
                Montant3 = multiplicateur * Number($(this).val());
                MontantTotal = Number(MontantTotal) + Montant3;
                ecart = Number(MontantTotal - orbis);
            });
            $('#resualtTotal3').empty();
            $('#resualtTotal3').val(new Intl.NumberFormat().format(MontantTotal));
            $('#billetage_ecart').val(ecart);
        });

        /**
         * builletage cheque
         */
        $('#billetage_checkBalance').on('input', function () {
            const checkBalance = +$('#billetage_checkBalance').val()
            const checkAmount = +$('#billetage_checkAmount').val();
            const $ecart = checkBalance - checkAmount;
            $('#billetage_checkEcart').val($ecart);
        });
    </script>


{% endblock %}