{% extends 'base.html.twig' %}

{% block title %}Billetage caisse{% endblock %}

{% block body %}
<div class="row">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Billetage {{ billetage.reference }}</h4>
            </div>

            <div class="widget-content">
                <form action="{{ path('billetage_inventaire_show', {'uuid': billetage.uuid}) }}"
                      class="form-horizontal"
                      method="post">

                    <fieldset>
                        <legend>Information du billetage</legend>
                        <div class="table-responsive"> <!-- Conteneur responsif ajouté -->
                        <table class="table table-bordered table-highlight-head bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Référence</th>
                                <th>Caisse</th>
                                <th>Solde théorique</th>
                                <th>Solde réel</th>
                                <th>Ecart</th>
                                <th>Statut</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="text-center">{{ billetage.date ? billetage.date|date('d/m/Y') : '' }}</td>
                                <td class="text-center">{{ billetage.reference }}</td>
                                <td class="text-left">{{ billetage.caisse }}</td>
                                <td class="text-right">{{ billetage.balance | number_format(0, ',', ' ') }}</td>
                                <td class="text-right">{{ billetage.amount | number_format(0, ',', ' ') }}</td>
                                <td class="text-right">{{ billetage.ecart | number_format(0, ',', ' ') }}</td>
                                <td class="text-center">
                                    <span class="label label-{{ billetage.status == 'VALIDATED' ? 'success': (billetage.status == 'DRAFT' ? 'info' : 'primary') }}">
                                        {{ billetage.status|trans }}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        {% set bt = billetage %}
                        <legend>Détail du billetage</legend>
                        <table class="table table-bordered table-highlight-head bordered table-condensed">
                            <thead>
                            <tr>
                                <th class="align-center">Nominal</th>
                                <th class="align-center">Montant disponible</th>
                                <th class="align-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3">Billet</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>10 000</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.b10000 }}
                                </td>
                                <td class="text-right">{{ (bt.b10000 * 10000)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>5 000</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.b5000 }}
                                </td>
                                <td class="text-right">{{ (bt.b5000 * 5000)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>2 000</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.b2000 }}
                                </td>
                                <td class="text-right">{{ (bt.b2000 * 2000)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>1 000</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.b1000 }}
                                </td>
                                <td class="text-right">{{ (bt.b1000 * 1000)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>500</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.b500 }}
                                </td>
                                <td class="text-right">{{ (bt.b500 * 500)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr style="font-weight: 600">
                                <td colspan="2">Sous Total</td>
                                <td class="text-right">
                                    {% set sousTotal1 = (bt.b10000 * 10000) + (bt.b5000 * 5000) + (bt.b2000 * 2000) + (bt.b1000 * 1000) + (bt.b500 * 500) %}
                                    {{ sousTotal1 | number_format(0, ',', ' ') }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Monnaie</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>500</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.m500 }}
                                </td>
                                <td class="text-right">{{ (bt.m500 * 500)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>250</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.m250 }}
                                </td>
                                <td class="text-right">{{ (bt.m250 * 250)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>200</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.m200 }}
                                </td>
                                <td class="text-right">{{ (bt.m200 * 200)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>100</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.m100 }}
                                </td>
                                <td class="text-right">{{ (bt.m100 * 100)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>50</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.m50 }}
                                </td>
                                <td class="text-right">{{ (bt.m50 * 50)|number_format(0, ',', ' ') }}</td>
                            </tr>

                            <tr>
                                <td>
                                    <output>10</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.m10 }}
                                </td>
                                <td class="text-right">{{ (bt.m10 * 10)|number_format(0, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <output>5</output>
                                </td>
                                <td class="text-right">
                                    {{ bt.m5 }}
                                </td>
                                <td class="text-right">{{ (bt.m5 * 5)|number_format(0, ',', ' ') }}</td>
                            </tr>

                            <tr style="font-weight: 600">
                                <td colspan="2">Sous Total 2</td>
                                <td class="text-right">
                                    {% set sousTotal2 = (bt.m500 * 500) + (bt.m250 * 250) + (bt.m200 * 200) + (bt.m100 * 100) + (bt.m50 * 50) + (bt.m10 * 10) + (bt.m5 * 5) %}
                                    {{ sousTotal2 | number_format(0, ',', ' ') }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

{#                            <div class="form-actions d-flex justify-content-end align-items-center">#}
{#                                {% if billetage.status != 'VALIDATED' %}#}
{#                                    <button type="submit" name="confirm" class="btn btn-success ml-2">#}
{#                                        Valider#}
{#                                    </button>#}
{#                                    <a href="{{ path('billetage_inventaire_edit', {'uuid': billetage.uuid}) }}"#}
{#                                       class="btn btn-warning ml-2" style="color: white">#}
{#                                        <i class="icon-edit"></i> Modifier#}
{#                                    </a>#}
{#                                {% endif %}#}

{#                                  <a target="_blank" href="{{ path('billetage_inventaire_print', {'uuid': billetage.uuid}) }}" class="btn btn-primary float-right ml-2">#}
{#                                    <i class="fa fa-print"></i> Imprimer#}
{#                                </a>#}
{#                                <a href="{{ path('billetage_inventaire_indexprint') }}" class="btn btn-info ml-2" style="color: white">#}
{#                                    Retour#}
{#                                </a>#}
{#                                <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-billetage') }}">#}
{#                            </div>#}

                                <div class="form-actions d-flex justify-content-end align-items-center">
                                    {% if billetage.status != 'VALIDATED' %}
                                        <button type="submit" name="confirm" class="btn btn-success">
                                            Valider
                                        </button>
                                        <a href="{{ path('billetage_inventaire_edit', {'uuid': billetage.uuid}) }}" class="btn btn-warning" style="color: white">
                                            <i class="icon-edit"></i> Modifier
                                        </a>
                                    {% endif %}

                                    <a target="_blank" href="{{ path('billetage_inventaire_print', {'uuid': billetage.uuid}) }}" class="btn btn-primary">
                                        <i class="fa fa-print"></i> Imprimer
                                    </a>
                                    <a href="{{ path('billetage_inventaire_indexprint') }}" class="btn btn-info" style="color: white">
                                        Retour
                                    </a>

                                    <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-billetage') }}">
                                </div>



                </form>
            </div>
        </div>
    </div>
    {% endblock %}

{% block stylesheets %}
<style> /* General Table Styling */
    table.table {
        border: 1px solid #ddd;
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    table.table th,
    table.table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        vertical-align: middle;
    }

    /* Table Header Styling */
    table.table thead th {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    /* Legend Styling */
    fieldset legend {
        font-size: 1.2em;
        font-weight: bold;
        color: #2c3e50;
        border-bottom: 2px solid #2c3e50;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    /* Input Field Styling */
    .form-control {
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 6px 12px;
    }

    /* Output Field Styling */
    .output {
        font-weight: bold;
        color: #34495e;
    }

    /* Totals and Subtotals */
    table.table tr[style*="font-weight: 600"] td {
        background-color: #e9ecef;
    }

    table.table tr[style*="font-weight: 900"] td {
        background-color: #d1ecf1;
    }


    button:hover {
        background-color: #0056b3;
    }

    /* Additional padding for the overall form */
    form {
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 8px;
    }

    /* --- Boutons sur Desktop --- */
.form-actions {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à une nouvelle ligne si nécessaire */
    justify-content: flex-end; /* Alignement à droite */
    gap: 10px; /* Espacement entre les boutons */
}

/* --- Boutons sur Mobile --- */
@media (max-width: 768px) {
    .form-actions {
        flex-direction: column; /* Empile les boutons verticalement */
        align-items: center; /* Centre les boutons horizontalement */
        justify-content: center; /* Centre les boutons verticalement */
        gap: 15px; /* Espacement entre les boutons sur mobile */
    }

    .form-actions .btn {
        width: 100%; /* Boutons pleine largeur sur mobile */
        max-width: 300px; /* Limite la largeur maximale pour éviter des boutons trop grands */
    }
}


</style>
{% endblock %}