<!doctype html>
<html lang="fr">
<head>
    <title>ORBIS CAISSE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" data-skin="default">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login : Se connecter</title>

    <style>
        header.auth-header {
            background-color: #232754;
            padding-bottom: 7.5%;
        }

        button.submit {
            background-color: #232754;
            color: #FFFFFF;
        }

        button.submit:hover {
            background-color: #232754;
            color: #FFFFFF;
        }

        .title {
            text-align: center;
            font-size: 3rem;
            color: #ffffff;
            margin-bottom: -5rem;
            margin-top: 7rem;
            padding-top: -5rem; /* Increase padding to push the text down */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .password-container {
            position: relative;
        }

        .password-container input {
            padding-right: 2.5rem; /* Adjust to fit the icon */
        }

        .password-container .toggle-password {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            cursor: pointer;
        }

    </style>
</head>

<body class="">
<!-- WRAPPER -->

<main class="auth">
    <header id="auth-header" class="auth-header">
        <h3 class="title">ORBIS CAISSE</h3>
        <img src="#" height="150" alt="">
    </header>
    <br>
    <!-- Title -->

    <!-- form -->
    <form class="auth-form" method="post" action="{{ path('app_login') }}">
        <div class="mb-4">
            {% if error %}
                <p class="text-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="form-group mb-4">
            <label class="d-block text-left" for="inputUser">Nom d'utilisateur</label>
            <input type="text" id="inputUser"
                   name="_username"
                   value="{{ last_username }}"
                   class="form-control form-control-lg"
                   required="" autofocus="">
        </div>

        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group mb-4 password-container">
            <label class="d-block text-left" for="inputPassword">Mot de passe</label>
            <input type="password" id="inputPassword" name="_password" autocomplete="current-password"
                   class="form-control form-control-lg" required="">
            <i class="fas fa-eye toggle-password"></i>
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group mb-4">
            <button class="btn btn-lg btn-block submit" type="submit">S'identifier</button>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group text-center">
            <div class="custom-control custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="remember-me"> <label
                        class="custom-control-label small" for="remember-me">Se souvenir de moi</label>
            </div>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <!-- /.form-group -->
        <!-- recovery links -->
        <p class="py-2 text-center">
            <a href="{{ path('app_forgot_password_request') }}" class="small">Mot de passe oublié ?</a>
        </p>
        <!-- /recovery links -->
        <!-- copyright -->
        <p class="mb-0 px-3 text-muted text-center"> Copyright © {{ 'now'| date('Y') }} Designed by
            <a href="https://www.offset-consulting.com/" target="_blank"> Offset Consulting.</a><br>
            All right reserved.
        </p>
    </form>
    <!-- /.auth-form -->
    <!-- .auth-announcement -->
    <div id="announcement" class="auth-announcement"
         style="">
        <div class="announcement-body">
        </div>
    </div>
    <!-- /.auth-announcement -->
</main>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('.toggle-password').on('click', function() {
            let input = $('#inputPassword');
            if (input.attr('type') === 'password') {
                input.attr('type', 'text');
                $(this).removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                input.attr('type', 'password');
                $(this).removeClass('fa-eye-slash').addClass('fa-eye');
            }
        });
    });
</script>
</body>
</html>
