<li class="menu-header">ENCAISSEMENT</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="fa-solid fa-hand-holding-usd p-2"></span>

		<span class="menu-text">Approvisionnement</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		{% if app.user and app.user.caisse and app.user.caisse.code == 'C001' %}
			<li class="menu-item {{ app.request.get('_route') == 'bonapprovisionnement_new' ? 'has-active': '' }}">
				<a href="{{ path('bonapprovisionnement_new') }}" class="menu-link">Créer un bon</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'bonapprovisionnement_index' ? 'has-active': '' }}">
				<a href="{{ path('bonapprovisionnement_index') }}" class="menu-link">Liste des bons</a>
			</li>
		{% endif %}

		{% if app.user and app.user.caisse and app.user.caisse.code == 'C002' %}
			<li class="menu-item {{ app.request.get('_route') == 'app_approcaisse_reception' ? 'has-active': '' }}">
				<a href="{{ path('app_approcaisse_reception') }}" class="menu-link">Liste des encaissements</a>
			</li>
		{% endif %}
	</ul>
	<!-- /child menu -->
	<!-- .menu-item -->
</li>
<li class="menu-header">DECAISSEMENT</li>

{% if app.user and app.user.caisse and app.user.caisse.code == 'C002' or app.user.caisse.code == 'C001'%}
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-wallet p-2"></span>

			<span class="menu-text">Dépenses</span>
		</a>
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'fdb_approuveNotConvert' ? 'has-active': '' }}">
				<a href="{{ path('fdb_approuveNotConvert') }}" class="menu-link">Besoin approuvé</a>
			</li>

			<li class="menu-item {{ app.request.get('_route') == 'bon_caisse_index' ? 'has-active': '' }}">
				<a href="{{ path('bon_caisse_index') }}" class="menu-link">Bon de caisse</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'bon_mission_index' ? 'has-active': '' }}">
				<a href="{{ path('bon_mission_index') }}" class="menu-link">Bon de mission</a>
			</li>
		</ul>
	</li>

	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-wallet p-2"></span>
			<span class="menu-text">Retour de fond</span>
		</a>
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'back_cash_new' ? 'has-active': '' }}">
				<a href="{{ path('back_cash_new') }}" class="menu-link">Ajouter</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'back_cash_index' ? 'has-active': '' }}">
				<a href="{{ path('back_cash_index') }}" class="menu-link">Liste</a>
			</li>
		</ul>
	</li>

{% endif %}

<li class="menu-header">JOURNAL DE CAISSE</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="oi oi-document p-1"></span>
		<span class="menu-text">Etat de caisse</span>
	</a>
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'app_etat_caisse' ? 'has-active': '' }}">
			<a href="{{ path('app_reporting_journal_caisse') }}" class="menu-link">Consulter</a>
		</li>
	</ul>
</li>


<li class="menu-header">ARRETE DE CAISSE</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="oi oi-document p-1"></span>
		<span class="menu-text">Liste billetage</span>
	</a>
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'billetage_inventaire_indexprint' ? 'has-active': '' }}">
			<a href="{{ path('billetage_inventaire_indexprint') }}" class="menu-link">Consulter</a>
		</li>
	</ul>
</li>

<li class="menu-header">FERMETURE</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="oi oi-lock-locked p-1"></span>
		<span class="menu-text">Fermer la caisse</span>
	</a>
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'app_comptability_caisse_journee_close' ? 'has-active': '' }}">
			<a href="{{ path('app_comptability_caisse_journee_close') }}" class="menu-link">Fermer</a>
		</li>
	</ul>
</li>
