{% if is_granted('ROLE_USER') or is_granted('ROLE_RESPONSABLE') %}
	<li class="menu-header">Créer une fiche de besoin
	</li>
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-file-alt p-2"></span>

			<span class="menu-text">Fiche de besoin</span>
		</a>
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'fdb_new' ? 'has-active': '' }}">
				<a href="{{ path('fdb_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'fdb_index' ? 'has-active': '' }}">
				<a href="{{ path('fdb_index') }}" class="menu-link">Liste</a>
			</li>
		</ul>
		<!-- /child menu -->
		<!-- .menu-item -->
	</li>
{% endif %}

{% if is_granted('ROLE_RESPONSABLE') %}
	<li class="menu-header">VALIDATION</li>
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-wallet p-2"></span>
			<span class="menu-text">Fiche de besoin</span>
		</a>
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'fdb_pending' ? 'has-active': '' }}">
				<a href="{{ path('fdb_pending') }}" class="menu-link">Besoin en attente</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'fdb_validated_by_user' ? 'has-active': '' }}">
				<a href="{{ path('fdb_validated_by_user') }}" class="menu-link">Besoin validé</a>
			</li>
		</ul>
	</li>

	<li class="menu-header">Créer un ordre de mission</li>
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-wallet p-2"></span>

			<span class="menu-text">Ordre de mission</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'order_mission_new' ? 'has-active': '' }}">
				<a href="{{ path('app_order_mission_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_order_mission_pending' ? 'has-active': '' }}">
				<a href="{{ path('app_order_mission_index') }}" class="menu-link">Liste Ordre de mission</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'bon_mission_responsable' ? 'has-active': '' }}">
				<a href="{{ path('bon_mission_responsable') }}" class="menu-link">Liste Bon de mission</a>
			</li>

		</ul>
	</li>
{% endif %}


{% if is_granted('ROLE_MANAGER1') %}
	<li class="menu-header">APPROUVER</li>
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-wallet p-2"></span>
			<span class="menu-text">Fiche de besoin</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'fdb_index' ? 'has-active': '' }}">
				<a href="{{ path('fdb_index') }}" class="menu-link">Liste</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'fdb_validate' ? 'has-active': '' }}">
				<a href="{{ path('fdb_validate') }}" class="menu-link">Besoin validé</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'fdb_approuved' ? 'has-active': '' }}">
				<a href="{{ path('fdb_approuved') }}" class="menu-link">Besoin approuvé</a>
			</li>
		</ul>
	</li>

{% endif %}

{% if is_granted('ROLE_CASHIER') %}
	{% include 'partials/_aside_caisse.html.twig' %}
{% endif %}

{% if is_granted('ROLE_IMPRESSION') %}
	<li class="menu-header">IMPRESSION</li>
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-file-alt p-2"></span>
			<span class="menu-text">Bon de caisse</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'fdb_approuved' ? 'has-active': '' }}">
				<a href="{{ path('fdb_approuved') }}" class="menu-link">Fiche convertie</a>
			</li>
		</ul>
	</li>
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="fa-solid fa-file-alt p-2"></span>
			<span class="menu-text">Bon de mission</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_order_mission_converted' ? 'has-active': '' }}">
				<a href="{{ path('app_order_mission_converted') }}" class="menu-link">Bon converti</a>
			</li>

		</ul>
	</li>
{% endif %}
