<header
        class="app-header app-header-dark">
    <!-- .top-bar -->
    <div
            class="top-bar">
        <!-- .top-bar-brand -->
        <div
                class="top-bar-brand">
            <!-- toggle aside menu -->
            <button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside-menu"
                    aria-label="toggle aside menu">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
            </button>
            <!-- /toggle aside menu -->
            <a href="">
                ORBIS CAISSE
            </a>
        </div>
        <!-- /.top-bar-brand -->

        <!-- .top-bar-list -->
        <div
                class="top-bar-list">
            <!-- .top-bar-item -->
            <div
                    class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
                <!-- toggle menu -->
                <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
                </button>
                <!-- /toggle menu -->
            </div>
            <!-- /.top-bar-item -->
            <!-- .top-bar-item -->
            <div
                    class="top-bar-item px-0 d-none d-sm-flex">
                <!-- .top-bar-item -->

                <div class="top-bar-item top-bar-item-full">
                    {% set societe = societe_info.info() %}
                    {% if societe %}
                        <button class="btn-account d-flex align-items-center" type="button">
                            <span class="fa-solid fa-building p-2"></span>
                            <strong class="pt-1">{{ societe.RaisonSociale }}</strong>
                        </button>

                        <button class="btn-account d-flex align-items-center" type="button">
                            <span class="oi oi-map-marker p-2"></span>
                            <strong class="pt-1">{{ societe.SiegeSocial }}</strong>
                        </button>
                    {% endif %}


                    {% set j = journee_service.getActive() %}

                    {% if is_granted('ROLE_MANAGER') %}
                        {% if j is null %}
                            <button class="btn-account" type="button" data-toggle="modal" data-target="#openJourneeModal">
                                <span class="oi oi-clock p-1"></span>
                                Caisse fermée
                            </button>
                        {% else %}
                            <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-clock p-1"></span>
                                <strong class="pt-1">Ouverture : {{ j.startedAt|date('d-m-Y H:i:s') }}</strong>
                            </button>
                            <input type="hidden" name="date_journee" id="date_journee" value="{{ j.startedAt|date('Y-m-d') }}">
                        {% endif %}
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') or is_granted('ROLE_USER') or is_granted('ROLE_IMPRESSION') %}
                        <button class="btn-account d-flex align-items-center" type="button">
                            <span class="oi oi-clock p-1"></span>
                            <strong class="pt-1">Date du jour : {{ "now"|date('d-m-Y') }}</strong>
                        </button>
                    {% endif %}

                    {% if app.user and app.user.caisse and is_granted('ROLE_MANAGER') %}
                        {% if j is not null %}
                            <button class="btn-account d-flex align-items-center" type="button">
                                <span class="oi oi-map-bill p-1"></span>
                                <strong class="pt-1">Solde : {{ app.user.caisse.soldedispo|number_format(0, ',', ' ') }} F</strong>
                            </button>
                        {% endif %}
                    {% endif %}

                </div>
                <!-- /.top-bar-item -->

            </div>
            <!-- /.top-bar-item -->
            <!-- .top-bar-item -->
            <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
                <ul class="header-nav nav">
                    <li class="nav-item dropdown header-nav-dropdown has-notified" id="header-notification">
                        <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-envelope-open"></span>
                        </a>
                        <!-- .dropdown-menu -->
                        <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                            <div class="dropdown-arrow"></div>
                            <h6 class="dropdown-header stop-propagation">
                                <span>Messages</span>
                            </h6>
                            <!-- .dropdown-scroll -->
                            <div class="dropdown-scroll has-scrollable" id="notification-body">
                                <!-- .dropdown-item -->
                                <a href="" class="dropdown-item unread">
                                    <div class="user-avatar">
                                        <img src="https://ui-avatars.com/api/?name=" alt="Notification">
                                    </div>
                                    <div class="dropdown-item-body">
                                        <p class="subject">Notification</p>
                                        <p class="text text-truncate"></p>
                                        <span class="date"></span>
                                    </div>
                                </a>
                                <!-- /.dropdown-item -->
                                <!-- .dropdown-item -->
                                <a href="#" class="dropdown-item unread">
                                    <div class="user-avatar"></div>
                                    <div class="dropdown-item-body">
                                        <p class="subject">Vous n'avez pas de notification
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <!-- /.dropdown-scroll -->
                            <a href="#" class="dropdown-footer">Tous les messages
                                <i class="fas fa-fw fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.nav-item -->
                    <!-- .nav-item -->
                </ul>
                <!-- .btn-account -->
                <div class="dropdown d-none d-md-flex">
                    <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">

                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="user-avatar user-avatar-md">
								<img src="{{ asset('images/belo.png') }}" alt="">
							</span>
                            <span class="account-summary pr-lg-4 d-none d-lg-block">
								<span class="account-name">{{ app.user.fullName }}</span>
                                <span class="account-name">{{ app.user.email }}</span>
							</span>
                        {% elseif is_granted('ROLE_RESPONSABLE')%}
                            <span class="user-avatar user-avatar-md">
								<img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-avatar-icon-in-trendy-style-isolated-background-png-image_4823713.jpg" alt="">
							</span>
                            <span class="account-summary pr-lg-4 d-none d-lg-block">
								<span class="account-name">{{ app.user.fullName }}</span>
                                <span class="account-name">{{ app.user.email }}</span>
							</span>
                        {% else %}
                            <span class="user-avatar user-avatar-md">
								<img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-avatar-icon-in-trendy-style-isolated-background-png-image_4823713.jpg" alt="">
							</span>
                            <span class="account-summary pr-lg-4 d-none d-lg-block">
								<span class="account-name">{{ app.user.fullName }}</span>
                                <span class="account-name">{{ app.user.email }}</span>
							</span>
                        {% endif %}

                    </button>
                    <!-- .dropdown-menu -->
                    <div class="dropdown-menu">
                        <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                        <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href=" {{ path('app_user_edit', {'id': app.user.id})}} ">
                                                            <span class="dropdown-icon oi oi-person"></span>
                                                            Profil

                                                        </a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <span class="dropdown-icon oi oi-account-logout"></span>
                                Déconnexion
                            </a>
                        {% else %}
                            <a class="dropdown-item" href=" {{ path('app_user_edit', {'id': app.user.id})}} ">
                                <span class="dropdown-icon oi oi-person"></span>
                                Profil

                            </a>

                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <span class="dropdown-icon oi oi-account-logout"></span>
                                Déconnexion
                            </a>
                        {% endif %}
                    </div>
                    <!-- /.dropdown-menu -->
                </div>
                <!-- /.btn-account -->
            </div>
            <!-- /.top-bar-item -->
        </div>
        <!-- /.top-bar-list -->
    </div>
    <!-- /.top-bar -->
</header>
<!-- /.app-header -->
{{ include('/_modal_journee.html.twig') }}
