{% if is_granted('ROLE_USER') or is_granted('ROLE_RESPONSABLE') or is_granted('ROLE_IMPRESSION')%}
<!-- .menu-header -->
<li class="menu-header">Créer une fiche de besoin </li>
<!-- /.menu-header -->
<!-- .menu-item -->
<!-- .menu-item -->

<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="fa-solid fa-file-alt p-2"></span>

		<span class="menu-text">Fiche de besoin</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'fdb_new' ? 'has-active': '' }}">
			<a href="{{ path('fdb_new') }}" class="menu-link">Créer</a>
		</li>
		<li class="menu-item {{ app.request.get('_route') == 'fdb_index' ? 'has-active': '' }}">
			<a href="{{ path('fdb_index') }}" class="menu-link">Liste</a>
		</li>

	</ul>
	<!-- /child menu -->
	<!-- .menu-item -->
</li>

{% endif %}
{% if is_granted('ROLE_RESPONSABLE') %}
<li class="menu-header">VALIDATION</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="fa-solid fa-wallet p-2"></span>

		<span class="menu-text">Fiche de besoin</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'fdb_pending' ? 'has-active': '' }}">
			<a href="{{ path('fdb_pending') }}" class="menu-link">Fiche en attente</a>
		</li>
		<li class="menu-item {{ app.request.get('_route') == 'fdb_validate' ? 'has-active': '' }}">
			<a href="{{ path('fdb_validate') }}" class="menu-link">Fiche validée</a>
		</li>

	</ul>
	<!-- /child menu -->
	<!-- .menu-item -->
</li>
{% endif %}
{% if is_granted('ROLE_IMPRESSION') %}
<li class="menu-header">IMPRESSION</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="fa-solid fa-file-alt p-2"></span>
		<span class="menu-text">Bon de caisse</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'fdb_approuve' ? 'has-active': '' }}">
			<a href="{{ path('fdb_approuve') }}" class="menu-link">Fiche de besoin converties</a>
		</li>

	</ul>
	<!-- /child menu -->
	<!-- .menu-item -->
</li>

{#<li class="menu-item has-child">#}
{#	<a href="#" class="menu-link">#}
{#		<span class="fa-solid fa-hand-holding-usd p-2"></span>#}

{#		<span class="menu-text">Reçu de caisse</span>#}
{#	</a>#}
{#	<!-- child menu -->#}
{#	<ul class="menu">#}

{#		<li class="menu-item {{ app.request.get('_route') == 'bonapprovisionnement_index' ? 'has-active': '' }}">#}
{#			<a href="{{ path('bonapprovisionnement_index') }}" class="menu-link">Bons convertis</a>#}
{#		</li>#}

{#		<li class="menu-item {{ app.request.get('_route') == 'app_approcaisse_index' ? 'has-active': '' }}">#}
{#			<a href="{{ path('app_approcaisse_index') }}" class="menu-link">Approvisionnement caisse à caisse</a>#}
{#		</li>#}

{#	</ul>#}

{#	<!-- /child menu -->#}
{#	<!-- .menu-item -->#}
{#</li>#}



	{% endif %}
	{% if is_granted('ROLE_MANAGER1') %}
<li class="menu-header">APPROBATION</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="fa-solid fa-wallet p-2"></span>

		<span class="menu-text">Fiche de besoin</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'fdb_index' ? 'has-active': '' }}">
			<a href="{{ path('fdb_index') }}" class="menu-link">Liste</a>
		</li>
		<li class="menu-item {{ app.request.get('_route') == 'fdb_validate' ? 'has-active': '' }}">
			<a href="{{ path('fdb_validate') }}" class="menu-link">Fiche validée</a>
		</li>
		<li class="menu-item {{ app.request.get('_route') == 'fdb_approuved' ? 'has-active': '' }}">
			<a href="{{ path('fdb_approuved') }}" class="menu-link">Fiche approuvée</a>
		</li>
	</ul>
	<!-- /child menu -->
	<!-- .menu-item -->
</li>


{#<li class="menu-header">REPORTING</li>#}
{#<li class="menu-item has-child">#}
{#	<a href="#" class="menu-link">#}
{#		<span class="menu-icon fas fa-file-alt"> </span>#}
{#		<span class="menu-text">Etat</span>#}
{#	</a>#}
{#	<!-- child menu -->#}
{#	<ul class="menu">#}
{#		<li class="menu-item {{ app.request.get('_route') == 'fdb_etat' ? 'has-active': '' }}">#}
{#			<a href="{{ path('fdb_etat') }}" class="menu-link">Fiche de besoin </a>#}
{#		</li>#}
{#		#}{#		<li class="menu-item {{ app.request.get('_route') == 'app_etat_caisse' ? 'has-active': '' }}">#}
{#		#}{#			<a href="" class="menu-link">Fiche de besoin validée</a>#}
{#		#}{#		</li>#}
{#	</ul>#}
{#	<!-- /child menu -->#}
{#	<!-- .menu-item -->#}
{#</li>#}
{% endif %}