{% extends 'account/index.html.twig' %}
{% block title %} Modifier mot de passe {% endblock %}
{% block layout %}
    <div class="col-lg-8">
        <!-- .card -->
        <div class="widget box">
            <div class="widget-header">
                <h4 class="">Modifier votre mot de passe </h4><!-- .card-body -->
            </div>
            <div class="widget-content">
                <!-- form -->
                {{ form_start(form) }}
                <!-- form row -->

                <div class="form-group">
                    <!-- form column -->
                    <label class="control-label col-md-3" for="{{ form.currentPassword.vars.id }}">Mot de passe actuel
                        <span class="text-danger">*</span></label>
                    <div class="col-md-6">
                        {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control' }}) }}
                        {{ form_errors(form.currentPassword) }}
                    </div>
                    <!-- /form column -->
                </div><!-- /form row -->
                <div class="form-group">
                    <label class="control-label col-md-3" for="{{ form.newPassword.first.vars.id }}">Nouveau mot de
                        passe <span class="text-danger">*</span></label>
                    <div class="col-md-6">
                        {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control' }}) }}
                        {{ form_errors(form.newPassword.first) }}
                        <div class="d-block">
                            - Longueur max 20 <br>
                            - Mot de passe doit contenir des lettres et chiffres <br>
                            - Mot de passe doit contenir des symboles <br>
                        </div>
                    </div>
                </div>
                <!-- .form-group -->
                <div class="form-group">
                    <label class="control-label col-md-3" for="{{ form.newPassword.second.vars.id }}">Confirmer mot de
                        passe <span class="text-danger">*</span></label>
                    <div class="col-md-6">
                        {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control' }}) }}
                        {{ form_errors(form.newPassword.second) }}
                    </div>
                </div><!-- /.form-group -->
                <!-- .form-group -->
                <hr>
                <!-- .form-actions -->
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary pull-right">Modifier de passe
                    </button>
                </div><!-- /.form-actions -->
                {{ form_end(form) }}<!-- /form -->
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div><!-- /grid column -->
{% endblock %}