<fieldset class="form-container">
    <legend>Information Décaissement</legend>

    <div class="row ">
        <div class="col-4">
            <div class="form-group">
                <label for="date_etablissement">Date</label>
                {{ form_widget(form.date, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="reference">Référence</label>
                {{ form_widget(form.reference, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="modepaie">Objet<span class="text-danger">*</span></label>
                {{ form_widget(form.objet, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

    </div>
</fieldset>

<fieldset class="form-container">
    <legend>Détail Décaissement</legend>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="caisseEmettrice">Caisse Émettrice<span class="text-danger">*</span></label>
                {{ form_widget(form.caisseEmettrice, {'attr' : {'class': ' select2'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="caisseReceptrice">Caisse Réceptrice<span class="text-danger">*</span></label>
                {{ form_widget(form.caisseReceptrice, {'attr' : {'class': ' select2'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="montant">Montant (F.CFA)<span class="text-danger">*</span></label>
                {{ form_widget(form.montant, {'attr' : {'class': 'form-control separator'}}) }}
            </div>
        </div>
    </div>
</fieldset>
