{% extends 'base.html.twig' %}

{% block title %}Approvisionnement caisse à caisse{% endblock %}

{% block stylesheets %}

    <style>
        td{
            font-size: 13px !important;
        }

        th{
            font-size: 13px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">

            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Approvisionnement caisse {{ approCaisses.reference }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>

                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Information Approvisionnement caisse à caisse</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th>Référence</th>
                                <th class="text-right">Objet</th>
                                <th class="text-right">Caisse emettrice</th>
                                <th class="text-right">Nom Caissier</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ approCaisses.date ? approCaisses.date|date('d-m-Y') : ''  }}</td>
                                <td class="align-middle">{{ approCaisses.reference }}</td>
                                <td class="align-middle">{{ approCaisses.objet }}</td>
                                <td class="align-middle">{{ approCaisses.caisseEmettrice }}</td>
                                <td class="align-middle">{{ approCaisses.caisseEmettrice.user }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend>Détail Opération</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Caisse receptrice</th>
                                <th>Nom Caissier</th>
                                <th class="text-right">Montant Total (F.CFA)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="align-middle">{{ approCaisses.caisseReceptrice.intitule }}</td>
                                <td class="align-middle">{{ approCaisses.caisseReceptrice.user }}</td>
                                <td class="text-right separator">{{ approCaisses.montant | number_format(0, ',', ' ')}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <form method="post" action="{{ path('app_approcaisse_show', {'id': approCaisses.id}) }}">
                        <div class="card-footer">

                            <div class="card-footer-content">

                                <a href="{{ path('app_welcome') }}" class="btn btn-info float-right ml-2">
                                    <i class="oi oi-home"></i> Retour
                                </a>

                                <a target="_blank" href="{{ path('print_approCaisse', {'id': approCaisses.id}) }}" class="btn btn-primary float-right ml-2">
                                    <i class="fa fa-print"></i> Imprimer
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
