

<fieldset class="form-container">
    <legend>Référence Bon Approvisionnement</legend>
    <div class="row">

        <div class="col-3">
            <div class="form-group">
                <label for="reference">Référence</label>
                {{ form_widget(form.reference, {'attr' : {'class': 'form-control js-datepicker'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="typeExpense">Bénéficiaire<span class="text-danger">*</span></label>
                {{ form_widget(form.destinataire, {'attr' : {'class': 'form-control select2', 'data-dependent-element' : '#fdb_expense'}}) }}
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-3">
            <div class="form-group">
                <label for="expense">Objet<span class="text-danger">*</span></label>
                {{ form_widget(form.porteur, {'attr' : {'class': 'form-control select2'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="expense">Montant (F.CFA)<span class="text-danger">*</span></label>
                {{ form_widget(form.montanttotal, {'attr' : {'class': 'select2'}}) }}
            </div>
        </div>

    </div>
</fieldset>

<fieldset class="form-container">
    <legend>Information du reçu de caisse</legend>

    <div class="row ">

        <div class="col-3">
            <div class="form-group">
                <label for="date_etablissement">Date</label>
                {{ form_widget(form.date, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="reference">Référence</label>
                {{ form_widget(form.reference, {'attr' : {'class': 'form-control js-datepicker'}}) }}
            </div>
        </div>

{#        <div class="col-3">#}
{#            <div class="form-group">#}
{#                <label for="emetteur">Bénéficiaire<span class="text-danger">*</span></label>#}
{#                {{ form_widget(form.beneficiaire, {'attr' : {'class': ' select2'}}) }}#}
{#            </div>#}
{#        </div>#}

    </div>
</fieldset>



