{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <style>
        .card {
            background-color: #f8f9fa;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }
        .card-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .card-progress {
            margin-top: 10px;
        }
        .card-indicator {
            background-color: #e9ecef;
            border-radius: 5px;
            height: 5px;
        }
        .indicator {
            height: 6px;
            border-radius: 5px;
        }
        .indicator.one {
            background-color: #007bff;
        }
        .indicator.two {
            background-color: #28a745;
        }
        .indicator.three {
            background-color: #ffc107;
        }
        .indicator.four {
            background-color: #dc3545;
        }
    </style>

    <div class="container mt-5">
        <div class="row">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-head">
                            <h2>Nombre de comptes</h2>
                            <span class="menu-icon fa fa-solid fa-users"></span>
                        </div>
                        <div class="card-progress">
                            <small><a href="{{ path('app_user_index') }}">{{ nbUser }} utilisateurs</a></small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: {{ nbUser }}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-head">
                            <h2>Caisse connectée</h2>
                            <span class="menu-icon fa fa-solid fa-cash-register"></span>
                        </div>
                        <div class="card-progress">
                            <small><a href="#">{{ nbCaisse }} caisse</a></small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: {{ nbCaisse }}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Graphique pour les utilisateurs par rôle -->
                <canvas id="userChart"></canvas>
            {% endif %}

            {% if is_granted('ROLE_MANAGER') %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head">
                                <h2>Solde disponible</h2>
                                <span class="menu-icon fa fa-solid fa-wallet"></span>
                            </div>
                            <div class="card-progress">
                                <small><a href="#" class="separator">{{ soldeCaisse }} </a></small>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head">
                                <h2>Fiches de besoin approuvées</h2>
                                <span class="menu-icon fa fa-solid fa-check"></span>
                            </div>
                            <div class="card-progress">
                                <small><a href="{{ path('fdb_approuved') }}">{{ nbFdbApprouvees }} fiches en attente de conversion</a></small>
                                <div class="card-indicator">
                                    <div class="indicator three" style="width: {{ nbFdbApprouvees }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head">
                                <h2>Fiches de besoin converties</h2>
                                <span class="menu-icon fa fa-solid fa-exchange-alt"></span>
                            </div>
                            <div class="card-progress">
                                <small><a href="{{ path('fdb_approuve') }}">{{ nbFdbConverties }} fiches converties</a></small>
                                <div class="card-indicator">
                                    <div class="indicator two" style="width: {{ nbFdbConverties }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head">
                                <h2>Bon d'approvisionnement créés</h2>
                                <span class="menu-icon fa fa-solid fa-receipt"></span>
                            </div>
                            <div class="card-progress">
                                <small><a href="{{ path('bonapprovisionnement_index') }}">{{ nbBonapprovisionnement }} bons</a></small>
                                <div class="card-indicator">
                                    <div class="indicator one" style="width: {{ nbBonapprovisionnement }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head">
                                <h2>Bon d'approvisionnement convertis</h2>
                                <span class="menu-icon fa fa-solid fa-check-double"></span>
                            </div>
                            <div class="card-progress">
                                <small><a href="{{ path('bonapprovisionnement_index') }}">{{ nbBonapprovisionnementConvertis }} bons convertis</a></small>
                                <div class="card-indicator">
                                    <div class="indicator two" style="width: {{ nbBonapprovisionnementConvertis }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('userChart').getContext('2d');
        const userChart = new Chart(ctx, {
            type: 'bar',  // Type de graphique en barres
            data: {
                labels: [
                    'Créer/Convertir Document',
                    'Approuver Fiche de besoin',
                    'Valider Fiche de besoin',
                    'Créer/Modifier Fiche de besoin',
                    'Imprimer Document'
                ],
                datasets: [{
                    label: 'Nombre d\'utilisateurs par rôle',
                    data: [
                        {{ nbManagers|default(0) }},
                        {{ nbManagers1|default(0) }},
                        {{ nbResponsables|default(0) }},
                        {{ nbUsers|default(0) }},
                        {{ nbImpression|default(0) }}
                    ],
                    backgroundColor: [
                        '#007bff', '#28a745', '#ffc107', '#dc3545', '#6f42c1'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


{% endblock %}
