<fieldset>
    <legend>Information Fiche de besoin</legend>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="date_etablissement">Date d'établissement</label>
                {{ form_widget(form.date, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="numero_fiche_besoin">N° Fiche de besoin</label>
                {{ form_widget(form.numero_fiche_besoin, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

{#        <div class="col-3">#}
{#            <div class="form-group">#}
{#                <label for="objet">Type Opération</label>#}
{#                {{ form_widget(form.objet, {'attr' : {'class': 'form-control'}}) }}#}
{#            </div>#}
{#        </div>#}

        <div class="col-3">
            <div class="form-group">
                <label for="responsable_demande">Emetteur</label>
                {{ form_widget(form.responsable, {'attr' : {'class': 'form-control select2'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="destinataire">Destinataire</label>
                {{ form_widget(form.destinataire, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="beneficiaire">Bénéficiaire</label>
                {{ form_widget(form.beneficiaire, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="typeExpense">Type Dépense</label>
                {{ form_widget(form.typeExpense, {'attr' : {'class': 'form-control select2'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="expense">Dépense</label>
                {{ form_widget(form.expense, {'attr' : {'class': 'form-control select2'}}) }}
            </div>
        </div>

    </div>
</fieldset>
{% form_theme form 'fdb/_detail.html.twig' %}

<fieldset>
    <legend>Détail Fiche de besoin</legend>
    <table class="table table-sm bordered" id="">
        <thead>
        <tr>
            <th class="text-center">Désignation</th>
            <th class="text-center">Quantité</th>
            <th class="text-center">Prix</th>
            <th class="text-center">Montant</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody id="tablefdb_details">
        {{ form_widget(form.details) }}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">Total</th>
            <th class="text-right"><span id="total_price"></span></th>
            <th class="text-right"><span id="total_montant"></span></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</fieldset>

{#{% block javascripts %}#}

{#    const typeExpense$ = $('#bank_expense_typeExpense');#}
{#    const typePaiement$ = $('#bank_expense_typePaiement');#}

{#    typeExpense$.change(function () {#}
{#    const form$ = typeExpense$.closest('form');#}
{#    const data$ = {};#}
{#    data$[typeExpense$.attr('name')] = typeExpense$.val();#}
{#    $.ajax({#}
{#    url: form$.attr('action'),#}
{#    type: form$.attr('method'),#}
{#    method: 'POST',#}
{#    data: data$,#}
{#    complete: function (html) {#}
{#    $('#bank_expense_expense').remove();#}
{#    $('#s2id_bank_expense_expense').replaceWith($(html.responseText).find('#bank_expense_expense'))#}
{#    $('#bank_expense_expense').select2({width: '100%', theme: 'bootstrap'});#}
{#    }#}
{#    });#}
{#    })#}

{#{% endblock %}#}