{% extends 'base.html.twig' %}

{% block title %}État des fiches de besoin{% endblock %}

{% block body %}
    <fieldset>
        <div class="col-12">
            <div class="card card-fluid">
                <div class="card-header bg-soft-custom" id="bg">
                    <h6><i class="fa-solid fa-list" style="font-size:18px;"></i> Période</h6>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <form method="get" action="{{ path('fdb_etat') }}" class="formDate d-flex justify-content-center align-items-center">
                                <div class="form-group d-flex align-items-center col-md-3">
                                    <label for="date_debut" class="mx-4">Date_début</label>
                                    <input type="date" name="date_debut" class="input-large mx-1 form-control" style="padding: 5px; margin: 5px; border: 1px solid #ced4da; border-radius: 10px; width: 350px; height: 40px;">
                                </div>
                                <div class="form-group d-flex align-items-center col-md-3">
                                    <label for="date_fin" class="mx-4">Date_fin</label>
                                    <input type="date" name="date_fin" class="input-large mx-1 form-control" style="padding: 5px; margin: 5px; border: 1px solid #ced4da; border-radius: 10px; width: 350px; height: 40px;">
                                </div>
                                <div class="form-group d-flex align-items-center col-md-3">
                                    <label for="status" class="mx-5">Statut</label>
                                    <select name="status" class="input-large mx-2 form-control" style="padding: 5px; margin: 5px; border: 1px solid #ced4da; border-radius: 10px; width: 200px; height: 40px;">
                                        <option value="TOUS">Tous</option>
                                        <option value="{{ constant('App\\Utils\\Status::EN_ATTENTE') }}">En attente</option>
                                        <option value="{{ constant('App\\Utils\\Status::CANCELLED') }}">Annulé</option>
                                        <option value="{{ constant('App\\Utils\\Status::VALIDATED') }}">Validé</option>
                                        <option value="{{ constant('App\\Utils\\Status::APPROUVE') }}">Approuvé</option>
                                    </select>
                                </div>
                                <div class="form-group d-flex align-items-center col-md-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <input type="submit" value="Rechercher" class="btn btn-success float-right ml-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header bg-soft-custom" style="background:#21244e; color:white;">
                    <i class="fa-solid fa-list" style="font-size:18px;"></i> &nbsp;État des fiches de besoin
{#                    <div class="float-right">#}
{#                        <button id="export_csv" class="btn btn-sm btn-outline-primary">Export CSV</button>#}
{#                        <button id="export_excel" class="btn btn-sm btn-outline-success">Export Excel</button>#}
{#                        <button id="export_pdf" class="btn btn-sm btn-outline-danger">Export PDF</button>#}
{#                    </div>#}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="fdbTable" class="table table-striped table-hover bordered table-sm export-datatable">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Nature</th>
                                <th class="text-center">Libellé</th>
                                <th class="text-center">Objet de la dépense</th>
                                <th class="text-center">Bénéficiaire</th>
                                <th class="text-center">Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fdb in fdbResults %}
                                <tr>
                                    <td class="text-center">{{ fdb.id }}</td>
                                    <td class="text-center">{{ fdb.date ? fdb.date|date('d-m-Y') : '' }}</td>
                                    <td class="text-left">{{ fdb.typeExpense }}</td>
                                    <td class="text-left">{{ fdb.expense }}</td>
                                    <td class="align-middle">
                                        {% for detail in fdb.details %}
                                            {{ detail.designationproduit }} <br>
                                        {% endfor %}
                                    </td>
                                    <td class="text-left">{{ fdb.beneficiaire }}</td>
                                    <td class="text-center align-middle">
                                        {% if fdb.status == 'validée' %}
                                            <span class="badge badge-info">{{ fdb.status }}</span>
                                        {% elseif fdb.status == 'en attente' %}
                                            <span class="badge badge-danger">{{ fdb.status }}</span>
                                        {% elseif fdb.status == 'annulée' %}
                                            <span class="badge badge-warning">{{ fdb.status }}</span>
                                        {% elseif fdb.status == 'approuvée' %}
                                            <span class="badge badge-success">{{ fdb.status }}</span>
                                        {% else %}
                                            <span class="badge">{{ fdb.status }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="6" class="text-center">Nombre total de fiches de besoin</th>
                                <th class="text-right separator">{{ total }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card-footer-content">
                    <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                        <i class="oi oi-home"></i> Retour
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script>
        $(document).ready(function() {
            $('#export_csv').on('click', function() {
                $('#fdbTable').tableExport({type: 'csv'});
            });

            $('#export_excel').on('click', function() {
                $('#fdbTable').tableExport({type: 'excel'});
            });

            $('#export_pdf').on('click', function() {
                const { jsPDF } = window.jspdf;
                const doc = new jsPDF();
                doc.autoTable({ html: '#fdbTable' });
                doc.save('fdb_table.pdf');
            });
        });
    </script>
{% endblock %}
