{% extends 'base.html.twig' %}

{% block title %}Impression - Fiches de Besoins{% endblock %}

{% block body %}
   <h1>Imprimer - Fiche de Besoin </h1>
{#<div class="printable">#}
    <table>
        <thead>
        <tr>
            <th>Responsable de la Demande</th>
            <th>Destinataire</th>
            <th>Date d'Établissement</th>
            <th>Objet</th>
            <th>Départements</th>
            <th>Signature</th>

        </tr>
        </thead>
        <tbody>
        {% for fiche in fdb %}
            <tr>
                <td>{{ fiche.responsable }}</td>
                <td>{{ fiche.destinataire }}</td>
                <td>{{ fiche.date|date('d-m-Y') }}</td>
                <td>{{ fiche.objet }}</td>
                <td>{{ fiche.departement }}
                <td>{{ fdb.signature }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#{% block stylesheets %}#}
{#<style>#}

{#    @media print {#}
{#        body * {#}
{#            visibility: hidden;#}
{#        }#}
{#        .printable, .printable * {#}
{#            visibility: visible;#}
{#        }#}
{#        .printable {#}
{#            position: absolute;#}
{#            left: 0;#}
{#            top: 0;#}
{#        }#}
{#    }#}


{#</style>#}
{#{% endblock %}#}

{#    <button onclick="window.print()">Imprimer</button>#}


{% endblock %}

