{% extends 'imprimer.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-sm-12">
        <div class="card card-fluid">
            <div class="card-header bg-soft-custom">
                <h6>Fiche de Besoin {{ fdb.numeroFicheBesoin }}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
                <br>
                <fieldset>
                    <legend>Information de la fiche de besoin</legend>
                    <table class="table table-sm bordered">
                        <tbody>
                        <tr>
                            <th>De</th>
                            <td>{{ fdb.emeteur }}</td>
                        </tr>
                        <tr>
                            <th>À</th>
                            <td>{{ fdb.destinataire }}</td>
                        </tr>
                        <tr>
                            <th>Pour</th>
                            <td>{{ fdb.beneficiaire }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ fdb.date ? fdb.date|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Objet</th>
                            <td>{{ fdb.typeExpense }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <fieldset>
                        <legend> Détail de la fiche de besoin</legend>
                        <table class="table bordered table-sm">
                            <thead>
                            <tr>
                                <th>Désignation</th>
                                <th>Quantité</th>
                                <th>Prix unitaire (F cfa)</th>
                                <th>Montant TTC (F cfa)</th>
                            </tr>
                            </thead>
                            <tbody id="fdb_details">
                            {% for detail in fdb.details %}
                                <tr>
                                    <td>{{ detail.designationproduit }}</td>
                                    <td>{{ detail.quantite }}</td>
                                    <td class="separator text-right">{{ detail.price }} (F cfa)</td>
                                    <td class="separator text-right">{{ detail.montant }} (F cfa)</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="3">Total</th>
                                <th class=" separator text-right">{{ fdb.total }}</th>
                            </tr>
                            </tfoot>

                        </table>
                    </fieldset>


            </div>
        </div>
    </div>

{% endblock %}