{% extends 'base.html.twig' %}

{% block title %}Fiche de besoin{% endblock %}

{% block stylesheets %}

    <style>
        td{
            font-size: 13px !important;
        }

        th{
            font-size: 13px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-sm-12">
        <div class="card card-fluid">
            <div class="card-header bg-soft-custom">
                <h6>Fiche de besoin {{ fdb.numeroFicheBesoin }}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
                <br>
                <fieldset>
                    <legend>Information de la fiche de besoin</legend>
                    <table class="table table-sm bordered">
                        <tbody>
                        <tr>
                            <th>Date</th>
                            <td>{{ fdb.date ? fdb.date|date('d-m-Y') : '' }}</td>
                        </tr>
                        {#                        <tr>#}
                        {#                            <th>Emetteur</th>#}
                        {#                            <td>{{ fdb.emeteur }}</td>#}
                        {#                        </tr>#}
                        <tr>
                            <th>Emetteur</th>
                            <td>{{ fdb.validBy }}</td>
                        </tr>
                        <tr>
                            <th>Bénéficiaire</th>
                            <td>{{ fdb.beneficiaire }}</td>
                        </tr>
                        <tr>
                            <th>Type opération</th>
                            <td>{{ fdb.typeExpense }}</td>
                        </tr>
                        <tr>
                            <th>Nature opération</th>
                            <td>{{ fdb.Expense }}</td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend> Détail opération</legend>
                    <table class="table bordered table-sm">
                        <thead>
                        <tr>
                            <th>Objet de dépense</th>
                            <th>Quantité</th>
                            <th>Prix unitaire (F.CFA)</th>
                            <th>Montant TTC (F.CFA)</th>
                        </tr>
                        </thead>
                        <tbody id="fdb_details">
                        {% for detail in fdb.details %}
                            <tr>
                                <td>{{ detail.designationproduit }}</td>
                                <td class="text-right">{{ detail.quantite }}</td>
                                <td class="separator text-right">{{ detail.price }} (F.CFA)</td>
                                <td class="separator text-right">{{ detail.montant }} (F.CFA)</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <th class=" separator text-right">{{ total }}</th>
                        </tr>
                        </tfoot>

                    </table>
                </fieldset>


                <form method="post" action="{{ path('fdb_show', {'id': fdb.id}) }}">
                    <div class="card-footer">
                        <div class="card-footer-content">
                            {% if (is_granted('ROLE_USER') or is_granted('ROLE_IMPRESSION') or is_granted('ROLE_MANAGER')) and fdb.status == 'brouillon' %}
                                <!-- Show Edit and Send buttons only if ROLE_USER or ROLE_IMPRESSION and status is BROUILLON -->
                                <a class="btn btn-warning float-right ml-2" href="{{ path('fdb_edit', {'id': fdb.id}) }}">
                                    <i class="fa fa-pencil-alt"></i> Modifier
                                </a>
                                <button type="submit" class="btn btn-success float-right ml-2" name="send_fdb">
                                    <i class="fa fa-paper-plane"></i> Envoyer
                                </button>
                            {% endif %}

                            {#                            {% if (is_granted('ROLE_USER') or is_granted('ROLE_IMPRESSION')) and fdb.status == 'en attente' %}#}
                            {#                                <!-- Show Edit and Send buttons only if ROLE_USER or ROLE_IMPRESSION and status is BROUILLON -->#}
                            {#                                <a class="btn btn-warning float-right ml-2" href="{{ path('fdb_edit', {'id': fdb.id}) }}">#}
                            {#                                    <i class="fa fa-pencil-alt"></i> Modifier#}
                            {#                                </a>#}
                            {#                            {% endif %}#}

                            {% if is_granted('ROLE_MANAGER1') and fdb.status == 'validée'%}
                                <a class="btn btn-warning float-right ml-2" href="{{ path('fdb_edit', {'id': fdb.id}) }}">
                                    <i class="fa fa-pencil-alt"></i> Modifier
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_RESPONSABLE') and fdb.status == 'en attente' %}
                                {% include '_modal_responsable.html.twig' %}
                                {% include '_modal_responsable_annulation.html.twig' %}
                            {% endif %}

                            {% if is_granted('ROLE_MANAGER1') and fdb.status == 'validée' %}
                                {% include '_modal_manager1.html.twig' %}
                                {% include '_modal_manager1_annulation.html.twig' %}
                            {% endif %}

                            {% if is_granted('ROLE_MANAGER') and fdb.status == 'approuvée' %}

                                {#                                {% include '_modal_manager.html.twig' %}#}
                                <a href="{{ path('fdb_convert', {'uuid': fdb.uuid}) }}" class="btn btn-primary float-right ml-2">
                                    <i class="fa-solid fa-repeat"></i> Convertir Bon de caisse
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_IMPRESSION') and fdb.status == 'convertit' %}
                                <a target="_blank" href="{{ path('print_fdb', {'uuid': fdb.uuid}) }}" class="btn btn-primary float-right ml-2">
                                    <i class="fa fa-print"></i> Imprimer bon de caisse
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_MANAGER') and fdb.status == 'convertit' %}
                                <a target="_blank" href="{{ path('print_fdb', {'uuid': fdb.uuid}) }}" class="btn btn-primary float-right ml-2">
                                    <i class="fa fa-print"></i> Imprimer
                                </a>
                            {% endif %}


                            {#                            {% if is_granted('ROLE_IMPRESSION') or is_granted('ROLE_USER') and fdb.status == 'annulée' %}#}
                            {#                                <a href="{{ path('fdb_delete', {'id': fdb.id}) }}" class="btn btn-danger float-right ml-2">#}
                            {#                                    <i class="fas fa-trash"></i> Supprimer#}
                            {#                                </a>#}

                            {#                            {% endif %}#}

                            <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                                <i class="oi oi-home"></i> Retour
                            </a>

                            <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-fdb') }}">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}