{% extends 'base.html.twig' %}

{% block title %}Fiche de Besoin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Fiche de Besoin {{ fdb.numeroFicheBesoin }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="text-center">
                                <h4 class="">FICHE DE BESOIN </h4>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <br>
                    <table class="table table-sm bordered">
                        <tbody>
                        <tr>
                            <th>De</th>
                            <td>{{ fdb.responsable }}</td>
                        </tr>
                        <tr>
                            <th>À</th>
                            <td>{{ fdb.destinataire }}</td>
                        </tr>
                        <tr>
                            <th>Date d’Établissement</th>
                            <td>{{ fdb.date ? fdb.date.format('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Objet</th>
                            <td>{{ fdb.objet }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3>Détails</h3>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th>Qte</th>
                            <th>Désignation</th>
                            <th>Prix unitaire</th>
                            <th>Montant TTC</th>
                        </tr>
                        </thead>
                        <tbody id="fdb_details">
                        {% for detail in fdb.details %}
                            <tr>
                                <td>{{ detail.quantite }}</td>
                                <td>{{ detail.designationproduit }}</td>
                                <td>{{ detail.price }}</td>
                                <td>{{ detail.montant }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <form method="post" action="{{ path('fdb_show', {'id': fdb.id}) }}">
                <div class="card-footer">

                    <div class="card-footer-content">
                        {% if is_granted('ROLE_MANAGER') and fdb.status == 'en attente' %}
                            {% include '_modal.html.twig' %}
                            <!-- Button trigger modal -->
                        {% endif %}


                        <a target="_blank" href="{{ path('fdb_pdf', {'id': fdb.id}) }}" class="btn btn-primary float-right ml-2">
                            <i class="fa fa-print"></i> Imprimer Fiche de Besoin
                        </a>
                        <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                            <i class="oi oi-home"></i> Retour
                        </a>

                        <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-fdb') }}">
                    </div>

                </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
