{% extends 'base.html.twig' %}

{% block title %}Bon de mission{% endblock %}

{% block stylesheets %}
    <style>
        td{
            font-size: 13px !important;
        }

        th{
            font-size: 13px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">

            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Bon de mission {{ bonMission.reference }}</h6>
                </div>
                <div class="card-body">

                    <fieldset>
                        <legend>Détail de l'ordre de mission</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th>Numéro d'ordre</th>
                                <th class="text-left">Donne ordre à</th>
                                <th class="text-left">De se rendre à</th>
                                <th class="text-right">Objet de la mission</th>
                                <th class="text-right">Date départ</th>
                                <th class="text-right">Date retour</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="align-middle">{{ bonMission.orderMission.date ? bonMission.orderMission.date|date('d-m-Y') : '' }}</td>
                                <td class="align-middle">{{ bonMission.orderMission.reference }}</td>
                                <td class="align-middle">{{ bonMission.orderMission.orderTo }}</td>
                                <td class="align-middle">{{ bonMission.orderMission.getTo }}</td>
                                <td class="text-left">{{bonMission.orderMission.fullName }}</td> <!-- Assuming typeExpense has a "nom" field -->
                                <td class="text-center">{{ bonMission.orderMission.dateDepart ? bonMission.orderMission.dateDepart|date('d-m-Y') : ''}}</td> <!-- Assuming expense has a "nom" field -->
                                <td class="text-center">{{ bonMission.orderMission.dateRetour ? bonMission.orderMission.dateRetour|date('d-m-Y') : ''}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <!-- Information du Bon de Caisse -->
                    <fieldset>
                        <legend>Information du bon de mission</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th>Référence</th>
                                <th>Bénéficiaire</th>
                                <th>Ville</th>
                                <th>Montant (F.CFA)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ bonMission.date ? bonMission.date|date('d-m-Y') : '' }}</td>
                                <td class="align-middle">{{ bonMission.reference }}</td>
                                <td class="align-middle">{{ bonMission.beneficiaire }}</td>
                                <td class="align-middle">{{ bonMission.ville }}</td>
                                <td class="text-right separator ">{{ bonMission.total }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <!-- Détail de la Fiche de Besoin associée -->



                        <div class="card-footer">

                            <div class="card-footer-content">


                                {% if is_granted('ROLE_MANAGER1') and bonMission.status == 'validée' %}
                                    <!-- Bouton de validation qui déclenche le modal -->
                                    <button type="button" class="btn btn-success float-right ml-2" data-toggle="modal" data-target="#modalValidation">
                                        <i class="fa fa-check"></i> Approuver
                                    </button>

                                    <!-- Modal de confirmation -->
                                    <div id="modalValidation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalValidationLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header bg-warning">
                                                    <h5 class="modal-title text-dark" id="modalValidationLabel">
                                                        <span class="uil uil-question-circle"></span>
                                                        Validation du bon de mission {{ bonMission.reference }}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body font-size-14">
                                                    Voulez-vous approuver cet bon de mission ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger font-weight-medium" data-dismiss="modal">Annuler</button>
                                                    <!-- Formulaire de soumission -->
                                                    <form method="post" action="{{ path('bon_mission_process', {'id': bonMission.id}) }}">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('process' ~ bonMission.id) }}">
                                                        <input type="hidden" name="action" value="approve">
                                                        <button type="submit" class="btn btn-success font-weight-medium">
                                                            Confirmer
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}


                                {% if is_granted('ROLE_MANAGER1') and bonMission.status == 'validée' %}
                                    <!-- Bouton d'annulation qui déclenche le modal -->
                                    <button type="button" class="btn btn-danger float-right ml-2" data-toggle="modal" data-target="#modalAnnulation">
                                        <i class="fa fa-times"></i> Annuler
                                    </button>

                                    <!-- Modal de confirmation d'annulation -->
                                    <div id="modalAnnulation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAnnulationLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header bg-danger">
                                                    <h5 class="modal-title text-light" id="modalAnnulationLabel">
                                                        <span class="uil uil-exclamation-triangle"></span>
                                                        Annulation du bon de mission {{ bonMission.reference }}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body font-size-14">
                                                    Voulez-vous vraiment annuler cet bon de mission ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary font-weight-medium" data-dismiss="modal">Annuler</button>
                                                    <!-- Formulaire de soumission -->
                                                    <form method="post" action="{{ path('bon_mission_process', {'id': bonMission.id}) }}">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('process' ~ bonMission.id) }}">
                                                        <input type="hidden" name="action" value="cancel">
                                                        <button type="submit" class="btn btn-danger font-weight-medium">
                                                            Confirmer
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}


{#                                {% if (is_granted('ROLE_IMPRESSION') or is_granted('ROLE_MANAGER') or is_granted('ROLE_RESPONSABLE')) and order_mission.status == 'convertit' %}#}
{#                                    <form method="post" action="{{ path('app_order_mission_envoyer', {id: order_mission.id}) }}">#}
{#                                        <input type="hidden" name="_token" value="{{ csrf_token('envoyer' ~ order_mission.id) }}">#}
{#                                        <button class="btn btn-success float-right ml-2"> <i class="fa fa-paper-plane"></i> Envoyer</button>#}
{#                                    </form>#}
{#                                {% endif %}#}

                                {% if is_granted('ROLE_MANAGER') and bonMission.status == 'approuvée' %}
                                <form method="post" action="{{ path('bon_mission_show', {'id': bonMission.id}) }}">
                                    {% include '_modal_order_manager.html.twig' %}
                                </form>
                                    <!-- Button trigger modal -->
                                {% endif %}

                                {% if is_granted('ROLE_MANAGER1') and bonMission.status == 'validée' %}
                                    <a class="btn btn-warning float-right ml-2" href="{{ path('bon_mission_edit', {'id': bonMission.id}) }}">
                                        <i class="fa fa-pencil-alt"></i> Modifier
                                    </a>
                                {% endif %}

                                {% if is_granted('ROLE_MANAGER') and bonMission.status == 'convertit' %}
                                    <a target="_blank" href="{{ path('bon_mission_print', {'id': bonMission.id}) }}" class="btn btn-primary float-right ml-2">
                                        <i class="fa fa-print"></i> Imprimer
                                    </a>
                                {% endif %}

                                {% if is_granted('ROLE_RESPONSABLE') and bonMission.status == 'en attente' %}
                                    <form method="post" action="{{ path('bon_mission_envoyer', {id: bonMission.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('envoyer' ~ bonMission.id) }}">
                                        <button class="btn btn-success float-right ml-2"> <i class="fa fa-paper-plane"></i> Envoyer</button>
                                    </form>
                                {% endif %}

                                {% if is_granted('ROLE_IMPRESSION') and bonMission.status == 'en attente' %}
                                    <form method="post" action="{{ path('bon_mission_envoyer', {id: bonMission.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('envoyer' ~ bonMission.id) }}">
                                        <button class="btn btn-success float-right ml-2"> <i class="fa fa-paper-plane"></i> Envoyer</button>
                                    </form>
                                {% endif %}

                                <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                                    <i class="oi oi-home"></i> Retour
                                </a>

                            </div>
                        </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
