<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- End Required meta tags -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/favicone.png') }}">
    <meta name="theme-color" content="#3063A0">
    <!-- End FAVICONS -->
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet"><!-- End GOOGLE FONT -->
    <!-- BEGIN PLUGINS STYLES -->
    {{ encore_entry_script_tags('app') }}

    {{ encore_entry_link_tags('app') }}
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" data-skin="default">
    <link rel="stylesheet" href="{{ asset('css/theme-dark.min.css') }}" data-skin="dark">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% block stylesheets %}
        <style>
            fieldset > legend {
                color: inherit;
                margin-bottom: 1rem;
                font-size: 1rem;
                border-bottom: 1px solid rgb(225, 231, 214);
            }



            div.bg-soft-custom {
                background-color: #232754;
                color: #FFFFFF;
                padding: 0.5rem !important;
            }

            .font-header tr {
                font-size: 11px;
                text-align: center !important;
            }

            label.text-right {
                text-align: left !important;
            }
        </style>
    {% endblock %}
    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
        var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
        // Disable unused skin immediately
        disabledSkinStylesheet.setAttribute('rel', '');
        disabledSkinStylesheet.setAttribute('disabled', true);
        // add flag class to html immediately
        if (isCompact === true) document.querySelector('html').classList.add('preparing-compact-menu');
    </script>

    <!-- END THEME STYLES -->
</head>
<body>
<!-- .app -->
<div class="app">
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a
            class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
    </div>
    <![endif]-->
    <!-- .app-header -->
        {% include 'partials/_header.html.twig' %}
        <!-- .app-aside -->
        {% include 'partials/_aside.html.twig' %}

    <!-- /.app-aside -->
    <!-- .app-main -->
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">

                    <!-- .page-section -->
                    <div class="page-section">
                        {% block body %}{% endblock %}
                    </div><!-- /.page-section -->
                </div><!-- /.page-inner -->
            </div><!-- /.page -->
        </div><!-- .app-footer -->
        {#        <footer class="app-footer"> #}
        {#            <ul class="list-inline"> #}
        {#                <li class="list-inline-item"> #}
        {#                    <a class="text-muted" href="#">Support</a> #}
        {#                </li> #}
        {#                <li class="list-inline-item"> #}
        {#                    <a class="text-muted" href="#">Help Center</a> #}
        {#                </li> #}
        {#                <li class="list-inline-item"> #}
        {#                    <a class="text-muted" href="#">Privacy</a> #}
        {#                </li> #}
        {#                <li class="list-inline-item"> #}
        {#                    <a class="text-muted" href="#">Terms of Service</a> #}
        {#                </li> #}
        {#            </ul> #}
        {#            <div class="copyright"> Copyright © 2018. All right reserved.</div> #}
        {#        </footer><!-- /.app-footer --> #}
        <!-- /.wrapper -->
    </main><!-- /.app-main -->

</div><!-- /.app -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/notifications.js') }}"></script>

<script src="{{ asset('js/pace.min.js') }}"></script>
<script src="{{ asset('js/stacked-menu.min.js') }}"></script>
<script src="{{ asset('js/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('js/flatpickr.min.js') }}"></script>
<script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
{{ encore_entry_script_tags('app') }}

<!-- BEGIN BASE JS -->
<script src="{{ asset('js/theme.js') }}"></script>
{% block javascripts %}
{% endblock %}
<script>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    toastr.{{ label }}("{{ message }}")
    {% endfor %}
    {% endfor %}
</script>

<script>

</script>
</body>
</html>