{% extends 'base.html.twig' %}

{% block title %}TypeExpense index
{% endblock %}

{% block body %}
	<div class="col-12 col-md-12">
		<div class="card">
			<div class="card-header bg-soft-custom">
				Listes des types d'opérations
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover bordered table-sm basic-datatable">
						<thead>
							<tr>
								<th>Id</th>
								<th>N° de compte</th>
								<th>Intitulé</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for type_expense in type_expenses %}
								<tr>
									<td>{{ type_expense.id }}</td>
									<td>{{ type_expense.code }}</td>
									<td>{{ type_expense.name }}</td>
									<td>
										<a href="{{ path('app_type_expense_edit', {'id': type_expense.id}) }}">Modifier</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<div class="card-footer-content">
					<a href="{{ path('app_type_expense_new') }}" class="btn btn-success float-right ml-3">
						Nouveau</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
