{% extends 'imprimer.html.twig' %}
{% block body %}
<div content=" ">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Bon d'approvisionnement N°{{ bonapprovisionnement.id }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>

                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Information du bon d'approvisionnement</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-left">Nature</th>
                                <th class="text-left">Mode de paiement</th>
                                <th class="text-right">Montant Total (F cfa)</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ bonapprovisionnement.date ? bonapprovisionnement.date|date('d-m-Y') : ''  }}</td>
                                <td class="text-left">{{ bonapprovisionnement.nature }}</td>
                                <td class="text-left">{{ bonapprovisionnement.modepaie }}</td>
                                <td class="text-right">{{ bonapprovisionnement.montanttotal }} (F cfa)</td>
                            </tr>
                            </tbody>
                        </table>

{#                        <fieldset>#}
{#                            <legend> Détail du bon d'approvisionnement</legend>#}
{#                            <table class="table bordered table-sm">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th>Désignation</th>#}
{#                                    <th>Qte</th>#}
{#                                    <th>Prix unitaire (F cfa)</th>#}
{#                                    <th>Montant TTC (F cfa)</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody id="bonapprovisionnement_details">#}
{#                                {% for detail in bonapprovisionnement.details %}#}
{#                                    <tr>#}
{#                                        <td class="text-left">{{ detail.designationproduit }}</td>#}
{#                                        <td class="text-left">{{ detail.quantite }}</td>#}
{#                                        <td class="text-right">{{ detail.price }} (F cfa)</td>#}
{#                                        <td class="text-right">{{ detail.montant }} (F cfa)</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                                </tbody>#}

{#                            </table>#}
{#                        </fieldset>#}
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}