{% extends 'imprimer.html.twig' %}
{% block body %}
<div content=" ">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Bon d'approvisionnement N°{{ bonapprovisionnement.id }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>

                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Information du bon d'approvisionnement</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>

                                <th class="text-left">Mode de paiement</th>
                                <th class="text-right">Montant Total (F cfa)</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ bonapprovisionnement.date ? bonapprovisionnement.date|date('d-m-Y') : ''  }}</td>

                                <td class="text-left">{{ bonapprovisionnement.modepaie }}</td>
                                <td class="text-right">{{ bonapprovisionnement.montanttotal }}</td>
                            </tr>
                            </tbody>
                        </table>


                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}