{% extends 'base.html.twig' %}

{% block title %}Bon d'approvisionnement{% endblock %}

{% block stylesheets %}

    <style>
        td{
            font-size: 13px !important;
        }

        th{
            font-size: 13px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">

            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Bon d'approvisionnement {{ bonapprovisionnement.reference }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>

                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Information du bon d'approvisionnement</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th>Emetteur</th>
                                <th>Destinataire</th>
                                <th>Porteur de chèque</th>
                                <th class="text-center">Moyen de paiement</th>
                                <th class="text-center">Montant Total (F cfa)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ bonapprovisionnement.date ? bonapprovisionnement.date|date('d-m-Y') : ''  }}</td>
                                <td class="align-middle">{{ bonapprovisionnement.emeteur }}</td>
                                <td class="align-middle">{{ bonapprovisionnement.destinataire }}</td>
                                <td class="align-middle">{{ bonapprovisionnement.porteur }}</td>
                                <td class="text-left">{{ bonapprovisionnement.modepaie }}</td>
                                <td class="text-right separator">{{ bonapprovisionnement.montanttotal }} </td>
                            </tr>
                            </tbody>
                        </table>


                <form method="post" action="{{ path('bonapprovisionnement_show', {'id': bonapprovisionnement.id}) }}">
                    <div class="card-footer">

                        <div class="card-footer-content">
                            {% if is_granted('ROLE_MANAGER') and bonapprovisionnement.status == 'en attente' %}
                                {% include '_modal_manager.html.twig' %}

                                <!-- Button trigger modal -->
                            {% endif %}

                            <a target="_blank" href="{{ path('print_bon', {'uuid': bonapprovisionnement.uuid}) }}" class="btn btn-primary float-right ml-2">
                                <i class="fa fa-print"></i> Imprimer Bon d'approvisionnement
                            </a>
                            <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                                <i class="oi oi-home"></i> Retour
                            </a>
                            <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-bonapprovisionnement') }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

