{% extends 'base.html.twig' %}

{% block title %}Bon d'approvisionnement{% endblock %}

{% block stylesheets %}

    <style>
        td{
            font-size: 13px !important;
        }

        th{
            font-size: 13px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">

            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Bon d'approvisionnement {{ bonapprovisionnement.reference }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>

                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Information du bon d'approvisionnement</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th>Caisse</th>
                                <th>Objet</th>
                                <th class="text-right">N° Bon d'approvisionnement</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ bonapprovisionnement.date ? bonapprovisionnement.date|date('d-m-Y') : ''  }}</td>
                                <td class="align-middle">{{ bonapprovisionnement.caisse ? bonapprovisionnement.caisse.intitule : 'Caisse non définie' }}</td>
                                <td class="align-middle">{{ bonapprovisionnement.porteur }}</td>
                                <td class="text-right">{{ bonapprovisionnement.reference }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend>Détail réçu</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Bénéficiaire</th>
                                <th>Nom Caissier(e)</th>
                                <th class="text-left">Source d'approvisionnement</th>
                                <th class="text-left">Détail source d'approvisionnement</th>
                                <th class="text-right">Montant Total (F cfa)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="align-middle">{{ bonapprovisionnement.destinataire }}</td>
                                <td class="align-middle">{{ bonapprovisionnement.caisse.user }}</td>
                                <td class="text-left">{{ bonapprovisionnement.modepaie }}</td>
                                <td class="text-left">{{ bonapprovisionnement.nomTiers }}</td>
                                <td class="text-right separator">{{ bonapprovisionnement.montanttotal }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <form method="post" action="{{ path('bonapprovisionnement_show', {'id': bonapprovisionnement.id}) }}">
                        <div class="card-footer">

                            <div class="card-footer-content">
                                {% if is_granted('ROLE_MANAGER') and bonapprovisionnement.status == 'en attente' %}
{#                                    {% include '_modal_manager.html.twig' %}#}

                                    <a target="_blank" href="{{ path('bonapprovisionnement_convert', {'uuid': bonapprovisionnement.uuid}) }}" class="btn btn-primary float-right ml-2">
                                        <i class="fa-solid fa-repeat"></i> Convertir Reçu de caisse
                                    </a>
                                    <!-- Button trigger modal -->
                                {% endif %}

                                {% if is_granted('ROLE_IMPRESSION') or is_granted('ROLE_MANAGER') and bonapprovisionnement.status == 'convertit' %}
                                    <a target="_blank" href="{{ path('print_bon', {'uuid': bonapprovisionnement.uuid}) }}" class="btn btn-primary float-right ml-2">
                                        <i class="fa fa-print"></i> Imprimer reçu de caisse
                                    </a>
                                {% endif %}

                                <a target="_blank" href="{{ path('bonapprovisionnement_edit', {'uuid': bonapprovisionnement.uuid}) }}" class="btn btn-primary float-right ml-2">
                                    <i class="fa-solid fa-repeat"></i> Modifier
                                </a>

                                <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                                    <i class="oi oi-home"></i> Retour
                                </a>
                                <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-bonapprovisionnement') }}">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
