{% extends 'base.html.twig' %}

{% block title %}Bon d'approvisionnement{% endblock %}

{% block stylesheets %}

    <style>
        td{
            font-size: 13px !important;
        }

        th{
            font-size: 13px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">

            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Bon d'approvisionnement N°{{ bonapprovisionnement.id }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>

                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Information du bon d'approvisionnement</legend>
                        <table class="table table-sm bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Nature</th>
                                <th class="text-center">Mode de paiement</th>
                                <th class="text-center">Montant Total (F cfa)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ bonapprovisionnement.date ? bonapprovisionnement.date|date('d-m-Y') : ''  }}</td>
                                <td class="text-left">{{ bonapprovisionnement.nature }}</td>
                                <td class="text-left">{{ bonapprovisionnement.modepaie }}</td>
                                <td class="text-right separator">{{ bonapprovisionnement.montanttotal }} (F cfa)</td>
                            </tr>
                            </tbody>
                        </table>

{#                        <fieldset>#}
{#                            <legend> Détail du bon d'approvisionnement</legend>#}
{#                            <table class="table bordered table-sm">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th>Désignation</th>#}
{#                                    <th>Qte</th>#}
{#                                    <th>Prix unitaire (F cfa)</th>#}
{#                                    <th>Montant TTC (F cfa)</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody id="bonapprovisionnement_details">#}
{#                                {% for detail in bonapprovisionnement.details %}#}
{#                                    <tr>#}
{#                                        <td>{{ detail.designationproduit }}</td>#}
{#                                        <td>{{ detail.quantite }}</td>#}
{#                                        <td class="separator text-right">{{ detail.price }} (F cfa)</td>#}
{#                                        <td class="separator text-right">{{ detail.montant }} (F cfa)</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                                </tbody>#}

{#                            </table>#}
{#                        </fieldset>#}
                </div>
                <form method="post" action="{{ path('bonapprovisionnement_show', {'id': bonapprovisionnement.id}) }}">
                    <div class="card-footer">

                        <div class="card-footer-content">
                            {% if is_granted('ROLE_MANAGER') and bonapprovisionnement.status == 'en attente' %}
                                {% include '_modal.html.twig' %}
                                {% include '_modal_annulé.html.twig' %}
                                <!-- Button trigger modal -->
                            {% endif %}

                            <a target="_blank" href="{{ path('print_bon', {'uuid': bonapprovisionnement.uuid}) }}" class="btn btn-primary float-right ml-2">
                                <i class="fa fa-print"></i> Imprimer Bon d'approvisionnement
                            </a>
                            <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                                <i class="oi oi-home"></i> Retour
                            </a>
                            <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-bonapprovisionnement') }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

