{% extends 'imprimer.html.twig' %}
{% block body %}
    <div content=" ">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Dépense N° {{ depense.id }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>
                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br><fieldset>
                        <legend> Information de la dépense</legend>
                        <table class="table bordered table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date enregistrement</th>
                                <th class="text-center">Montant</th>
                                <th class="text-center">Catégorie</th>
                                <th class="text-center">Mode de paiement</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ depense.date|date('Y-m-d') }}</td>
                                <td class="text-center">{{ depense.montant }}</td>
                                <td class="text-center">{{ depense.category }}</td>
                                <td class="text-center">{{ depense.modepaie }}</td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}