{% extends 'imprimer.html.twig' %}
{% block body %}
    <div content=" ">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Dépense N° {{ depense.id }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>
                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br><fieldset>
                        <legend> Information de la dépense</legend>
                        <table class="table bordered table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Catégorie</th>
                                <th class="text-center">Mode de paiement</th>
                                <th class="text-center">Montant (F cfa)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ depense.date ? depense.date|date('d-m-Y') : ''  }}</td>
                                <td class="text-left">{{ depense.category }}</td>
                                <td class="text-left">{{ depense.modepaie }}</td>
                                <td class="text-right">{{ depense.montant }} (F cfa)</td>
                            </tr>
                            </tbody>
                        </table>

                        <fieldset>
                            <legend> Détail de la dépense</legend>
                            <table class="table bordered table-sm">
                                <thead>
                                <tr>
                                    <th>Qte</th>
                                    <th>Désignation</th>
                                    <th>Prix unitaire (F cfa)</th>
                                    <th>Montant TTC (F cfa)</th>
                                </tr>
                                </thead>
                                <tbody id="depense_details">
                                {% for detail in depense.details %}
                                    <tr>
                                        <td>{{ detail.quantite }}</td>
                                        <td>{{ detail.designationproduit }}</td>
                                        <td class="text-right">{{ detail.price }} (F cfa)</td>
                                        <td class="text-right">{{ detail.montant }} (F cfa)</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </fieldset>

                </div>
            </div>
        </div>
    </div>
{% endblock %}