{% extends 'base.html.twig' %}

{% block title %}Dépense{% endblock %}

{% block stylesheets %}

    <style>
        td{
            font-size: 13px !important;
        }

        th{
            font-size: 13px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-fluid">
                <div class="card-header bg-soft-custom">
                    <h6>Dépense N° {{ depense.id }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div
                                class="col-sm-2">{# <img style="margin-left: -2em" src="{{ asset('assets/dist/img/ews.jpg') }}" alt=""> #}
                        </div>
                        <div
                                class="col-sm-2">{# <img class="float-right" src="{{ asset('assets/dist/img/stib.jpg') }}" alt=""> #}
                        </div>
                    </div>
                    <br><fieldset>
                        <legend> Information de la dépense</legend>
                        <table class="table bordered table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Catégorie</th>
                                <th class="text-center">Mode de paiement</th>
                                <th class="text-center">Montant (F cfa)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ depense.date ? depense.date|date('d-m-Y') : '' }}</td>
                                <td class="text-left">{{ depense.typeExpense }}</td>
                                <td class="text-left">{{ depense.modepaie }}</td>
                                <td class="text-right separator">{{ depense.montant }} (F cfa)</td>
                            </tr>
                            </tbody>
                        </table>


                <fieldset>
                    <legend> Détail de la dépense</legend>
                    <table class="table bordered table-sm">
                        <thead>
                        <tr>
                            <th>Désignation</th>
                            <th>Qte</th>
                            <th>Prix unitaire (F cfa)</th>
                            <th>Montant TTC (F cfa)</th>
                        </tr>
                        </thead>
                        <tbody id="depense_details">
                        {% for detail in depense.details %}
                            <tr>
                                <td>{{ detail.designationproduit }}</td>
                                <td>{{ detail.quantite }}</td>
                                <td class="separator text-right">{{ detail.price }} (F cfa)</td>
                                <td class="separator text-right">{{ detail.montant }} (F cfa)</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <th class="text-right">{{ total }}</th>
                        </tr>
                        </tfoot>

                    </table>
                </fieldset>

                <form method="post" action="{{ path('depense_show', {'id': depense.id}) }}">
                    <div class="card-footer">

                        <div class="card-footer-content">
                            {% if is_granted('ROLE_MANAGER') and depense.status == 'en attente' %}
                                {% include '_modal.html.twig' %}
                                {% include '_modal_annulé.html.twig' %}
                                <!-- Button trigger modal -->
                            {% endif %}

                            <a target="_blank" href="{{ path('print_depense', {'uuid': depense.uuid}) }}" class="btn btn-primary float-right ml-2">
                                <i class="fa fa-print"></i> Imprimer Depense
                            </a>
                            <a href="{{ path('app_welcome') }}" class="btn btn-info float-right">
                                <i class="oi oi-home"></i> Retour
                            </a>
                            <input type="hidden" name="_token" value="{{ csrf_token('validate-caisse-depense') }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
