<fieldset>
    <legend>Information Compte Utilisateur</legend>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="name">Nom & prénoms</label>
                {{ form_widget(form.fullName, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="pseudo">Pseudo</label>
                {{ form_widget(form.pseudo, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="contact">Contact</label>
                {{ form_widget(form.contact, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="email">Email</label>
                {{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="password">Password</label>
                {{ form_widget(form.password, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="caisse">Caisse</label>
                {{ form_widget(form.caisse, {'attr' : {'class': ' select2 '}}) }}
            </div>
        </div>

    <div class="col-3">
        <div class="form-group">
            <label for="role">Roles</label>
            {{ form_widget(form.roles, {'attr' : {'class': 'form-control-sm select2 '}}) }}
        </div>
    </div>

{#    <div class="col-3">#}
{#        <div class="form-group">#}
{#            <label for="isActive">Etat</label>#}
{#            {{ form_widget(form.isActive, {'attr' : {'class': 'form-control-sm select2 '}}) }}#}
{#        </div>#}
{#    </div>#}

    </div>
</fieldset>

{#{% block stylesheets %}#}

{#   <style>#}
{#       .select2-role {#}
{#           width: 100% !important; /* ou toute autre largeur qui convient à vos besoins */#}
{#       }#}


{#   </style>#}
{#{% endblock %}#}

