<fieldset>
    <legend>Information compte utilisateur</legend>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="name">Nom & prénoms<span class="text-danger">*</span></label>
                {{ form_widget(form.fullName, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label for="pseudo">Identifiant</label>
                {{ form_widget(form.pseudo, {'attr' : {'class': 'form-control', 'id': 'pseudo'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="contact">Contact</label>
                {{ form_widget(form.contact, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="fonction">Fonction</label>
                {{ form_widget(form.fonction, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="email">Email<span class="text-danger">*</span></label>
                {{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label for="password">Mot de passe</label>
                {{ form_widget(form.password, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">

            <div class="col-md-5">
                <div class="form-group">
                    <label for="role">Rôle</label>
                    {{ form_widget(form.roles, {'attr' : {'class': 'form-control-sm select2 '}}) }}
                </div>
            </div>



        </div>

    {% endif %}


</fieldset>


{#<script>#}
{#    document.getElementById('fullName').addEventListener('input', function() {#}
{#        let fullName = this.value;#}
{#        let pseudo;#}
{#        pseudo = fullName.toLowerCase().trim().replace(/\s+/g, '-');#}
{#        document.getElementById('pseudo').value = pseudo;#}
{#    });#}
{#</script>#}