{#{% extends 'base.html.twig' %}#}

{#{% block title %}Modifier utilisateur User{% endblock %}#}

{#{% block body %}#}
{#    <div class="col-12">#}
{#        {{ form_start(form) }}#}
{#        <div class="card card-fluid">#}
{#            <div class="card-header bg-soft-custom">#}
{#                <h6>Modifier utilisateur {{ user.fullName }}</h6>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                {{ include('user/_form.html.twig') }}#}
{#            </div>#}
{#            <div class="card-footer">#}
{#                <div class="card-footer-content">#}
{#                    <button type="submit" class="btn btn-primary float-right ml-2">Enregistrer</button>#}
{#                    <a href="{{ path('app_user_index') }}" class="btn btn-info float-right"><i class="oi oi-home"></i> Retour</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {{ form_end(form) }}#}
{#    </div>#}
{#{% endblock %}#}


{% extends 'user/indexUpdate.html.twig' %}
{% block title %}Modifier utilisateur User{% endblock %}

{% block layout %}

    <div class="col-8">

        {{ form_start(form) }}
        <div class="card card-fluid">
            <div class="card-header bg-soft-custom" id="bg">
                <h6> <i class="fa fa-pencil-alt" style="font-size:20px;"></i> Modification de l'utilisateur </h6>
            </div>
            <div class="card-body">
                {{ include('user/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <div class="card-footer-content">
                    <button type="submit" class="btn btn-primary float-right ml-2">Enregistrer</button>
                    <a href="{{ path('app_user_index') }}" class="btn btn-info float-right"><i class="oi oi-home"></i> Retour</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
